<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis4.dynamicSQL.CommonMapper">
    <!--sql标签抽取可重用的sql片段-->
    <sql id="insertColumn">
      (last_name,email,gender,d_id)
    </sql>
</mapper>