.tabs {
  .ul {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
    padding-left: 14px;
    .selected{
      border-bottom: 2px solid #316cb4;
      color: #316cb4 !important;
    }
    .li {
      height: 30px;
      list-style: none;
      color: #666;
      font-size: 12px;
      font-weight: bold;
      background-color: #fff;
      float: left;
      padding: 0 20px;
      position: relative;
      transition: 0.3s;
      &:hover{
        cursor: pointer;
        padding: 0 14px;
      }
      .close_icon {
        width: 14px;
        height: 14px;
        display: inline-block;
        line-height: 1;
        position: relative;
        top: 3px;
        left: 8px;
        font-size: 12px;
        border-radius: 50%;
        &:before{
          position: absolute;
          top: 1px;
          left: 1px;
        }
        &:hover{
          background-color: #c1c4cb;
          color: #fff;
          transition: .5s;
        }
      }

      &:after {
        content: '';
        border-left: 1px solid #dbdbdb;
        height: 16px;
        position: absolute;
        display: inline-block;
        top: 8px;
        right: 0;
      }
    }
  }
}