# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
etc/unit_test.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cloud-station.exe
cloud-station

# Dependency directories (remove the comment below to include it)
# vendor/
